# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/saves/
/TombManyGraves/
/screenshots/
/shaderpacks/
/mods/
/valkyrielib/
/structures/
/config_bk/
/schematics/
/astralsorcery/

# Utilities
/CommonFunctions.dll
/config.zip
/Extended\ Modpack\ Packager.exe
/Newtonsoft.Json.dll
/modpackinfo.json
*.lnk
Launcher.bat
excludes.txt
ConfigCreator.bat

# Client Configs
zs_export.json
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
minecraftinstance.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
options.txt
optionsof.txt
crafttweaker.log
config/BlockDrops/modVersions.txt
config/InvTweaks/InvTweaks.cfg
journeymapdefaults.firstrun
*.zip
astralsorcery/gatewayFilter/worldFilter.dat
ModpackFileId.json
LICENSE.md
manifest.json
config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/CustomRecipes.cfg
config/brandon3055/ResourceCache/
config/tool_progression/blocks.cfg
config/tool_progression/tools.cfg

#server
server.properties
whitelist.json
ops.json
minecraft_server.1.12.2.jar
installer.log
forge-1.12.2-14.23.5.2781-universal.jar
forge-1.12.2-14.23.5.2781-installer.jar
eula.txt
banned-players.json
banned-ips.json
/world/

#remove questbook
/config/betterquesting/DefaultLoot.json
/config/betterquesting/DefaultQuests.json