# Configuration file

energyhatch {

    tiny {
        I:limit=4000
        I:size=4000000
        I:tier=1
    }

    small {
        I:limit=8000
        I:size=8000000
        I:tier=2
    }

    normal {
        I:limit=16000
        I:size=16000000
        I:tier=2
    }

    reinforced {
        I:limit=32000
        I:size=32000000
        I:tier=3
    }

    big {
        I:limit=64000
        I:size=64000000
        I:tier=4
    }

    huge {
        I:limit=128000
        I:size=128000000
        I:tier=5
    }

    ludicrous {
        I:limit=256000
        I:size=256000000
        I:tier=6
    }

    ultimate {
        I:limit=1024000
        I:size=1024000000
        I:tier=6
    }

    size {
        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 32768]
        S:BIG=64000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 131072]
        S:HUGE=128000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 524288]
        S:LUDICROUS=256000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 8192]
        S:NORMAL=16000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 16384]
        S:REINFORCED=32000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 4096]
        S:SMALL=8000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 2048]
        S:TINY=4000000

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 2097152]
        S:ULTIMATE=1024000000
    }

    limit {
        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 32768]
        S:BIG=64000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 131072]
        S:HUGE=128000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 524288]
        S:LUDICROUS=256000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 8192]
        S:NORMAL=16000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 16384]
        S:REINFORCED=32000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 4096]
        S:SMALL=8000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 2048]
        S:TINY=4000

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 2097152]
        S:ULTIMATE=1024000
    }

    tier {
        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:BIG=4

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:HUGE=5

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:LUDICROUS=6

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:NORMAL=2

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:REINFORCED=3

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:SMALL=2

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:TINY=1

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12]
        I:ULTIMATE=6
    }

    gtvoltage {
        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:BIG=4

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:HUGE=5

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:LUDICROUS=6

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:NORMAL=2

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:REINFORCED=3

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:SMALL=2

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:TINY=1

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8]
        I:ULTIMATE=6
    }

    gtamperage {
        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:BIG=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:HUGE=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:LUDICROUS=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:NORMAL=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:REINFORCED=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:SMALL=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:TINY=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16]
        I:ULTIMATE=2
    }

}


fluidhatch {

    tiny {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 100]
        I:size=4000
    }

    small {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 400]
        I:size=8000
    }

    normal {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 1000]
        I:size=16000
    }

    reinforced {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 2000]
        I:size=32000
    }

    big {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 4500]
        I:size=64000
    }

    huge {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 8000]
        I:size=128000
    }

    ludicrous {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 16000]
        I:size=256000
    }

    vacuum {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 32000]
        I:size=1024000
    }

}


general {
    # Defines the _default_ color for machine casings as items or blocks. (Hex color without alpha) Has to be defined both server and clientside! [default: FF4900]
    S:general-casing-color=F2F7FF
}


